body {
    margin: 0;
}
div {
    width=device-width;
    height: 900px;
    background: BLACK;
    text-align :center;
font-weight: normal;
}

img{
    width: 300px;
}
body {background: #d6eaf8}
p {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;

  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
p:hover {background-position: right center;}
